.cards {
  display: flex;
  flex-wrap: wrap;
}
.menu {
  display: flex;
  flex-direction: column;
  float: right;
  margin-top: 1rem;
  margin-right: 2.5rem;
  padding: 3rem;
}
.search {
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 5px;
  padding: 3px;
}
.main {
  height: 100vh;
  background-color: cornsilk;
}

.sec {
  color: rgba(29, 161, 242, 1);
  font-weight: 500;
}
.err {
  font-weight: 600;
  color: black;
  font-style: oblique;
  font-family: cursive;
  margin: 0 auto;
  margin-top: 5rem;
}
